.green-background {
   background: #66ff66;
}
.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
}

.controlgroup-textinput-mini{
    padding-top:.12em;
    padding-bottom:.12em;
}

.controlgroup-textinput-mini .ui-input-clear{
    padding-top:.50em;
    padding-bottom:.50em;
}

#messages-dialog-popup {
    width: 100%;
}

.messages-dialog-textarea {
    width: 100%;
    height: auto !important; /* !important is used to force override. */
}

.messages-dialog-input {
    
}

.messages-dialog-select {
    text-align: center;
}

.messages-dialog-select .ui-select {
    width: 180px !important;
}

.distribution-order {
    float: left;
    min-width: 200px;
    min-height: 107px;
    margin: 5px;
    padding: 5px
}