<?php
return [
    'settings' => [
        // Debug settings
        'debug' => false,

        // Slim Settings
        'determineRouteBeforeAppMiddleware' => false,
        'displayErrorDetails' => false,

        // monolog settings
        'logger' => [
            'name' => 'app',
            'path' => __DIR__ . '/../log/app.log',
        ],

        'database' => [
            'adapter' => 'mysql',
            'dsn' => 'mysql:host=localhost;port=3306;dbname=mypos',
            'user' => 'root',
            'password' => '',
            'settings' => [
                'charset' => 'utf8mb4'
            ]
        ],

        'Auth' => [
            'RememberMe_PrivateKey' => 'MFswDQYJKoZIhvcNAQEBBQADSgAwRwJAfmBSwS0WmfKNW1Dq2N4MJ4gYDApG6lW19QhvDp2g80ajw74D2Xijm4rIuxaJPJ64GazdNWUHuc+1CL5eEkBopwIDAQAB'
        ],

        'Invoice' => [
            'Header' => "HEADER TOP LINE\nSECOND LINE\nTHIRD LINE",
            'MaturityDate' => "+2 Weeks",

            'Logo' => [
                'Use' => false,
                'Path' => "",
                'Type' => API\PRINTER_LOGO_DEFAULT
            ]
        ],

        'App' => [
            'Domain' => 'mypos.localhost',

            'Distribution' => [
                'AmountOrdersToPreShow' => 2,
                'OnStandbyAssistOtherDistributionPlaces' => true,
                'AmountDisplayedInTodoList' => 5,
                'OrderProgressTimeRangeMinutes' => 5
            ]
        ]
    ],
];